@use "../utils/mixins";
.sidebar {
  position: sticky;
  align-self: flex-start;
  top: 20px;

  &__title {
    font-weight: 500;
    font-size: 24px;

    margin-bottom: 30px;
  }

  &__news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35px;

    @include mixins.breakpoint(large) {
      flex-direction: row;
      gap: 18px;
      margin-bottom: 56px;
    }

    @include mixins.breakpoint(medium) {
      flex-direction: column;
    }

    &-item {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex: 1;

      &:not(:last-child) {
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(47, 34, 34, 0.1);
      }

      @include mixins.breakpoint(large) {
        &:not(:last-child) {
          border-bottom: none;
          padding: 0;
        }
      }
      @include mixins.breakpoint(medium) {
        &:not(:last-child) {
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(47, 34, 34, 0.1);
        }
      }
    }

    &-item:hover &-title {
      color: var(--accent);
    }

    &-item:focus-visible {
      outline: none;
    }
    &-item:focus-visible &-title {
      color: var(--accent);
    }
    &-title {
      margin: 0;
      color: var(--text);
      font-weight: 400;
      font-size: 18px;
      line-height: 1.4;

      transition: color 0.3s ease-in;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mixins.breakpoint(large) {
        -webkit-line-clamp: 2;
      }
    }

    &-date {
      font-weight: 400;
      font-size: 18px;
      color: var(--gray);
    }
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    padding: 43px 30px;
    background-color: var(--white);

    @include mixins.breakpoint(large) {
      align-items: flex-start;
      padding: 43px 150px;
    }
    @include mixins.breakpoint(medium) {
      padding: 43px 50px;
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      text-align: center;

      margin-bottom: 30px;

      @include mixins.breakpoint(large) {
        margin-bottom: 20px;
      }
    }

    &-form {
      width: 100%;
    }

    &-action {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mixins.breakpoint(large) {
        flex-direction: row;
        gap: 20px;
      }
      @include mixins.breakpoint(medium) {
        flex-direction: column;
      }
    }
    &-wrap {
      width: 100%;
    }

    &-control {
      cursor: pointer;
      border-radius: 20px;
      padding: 13px 32px 13px 30px;
      width: 100%;
      background: #f9f9f9;

      transition: all 0.3s ease-in;

      &:hover {
        background: #ededed;
      }

      &:focus-visible {
        border: 1.5px solid var(--accent);
      }
    }
    &-btn {
      background: var(--accent);
      border: none;
      border-radius: 20px;

      font-weight: 400;
      font-size: 18px;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      gap: 10px;
      width: 100%;

      &:hover {
        background: #6c7dd8;
      }

      &:focus-visible {
        border: 1.5px solid #2f2222;
        background: #6c7dd8;
        color: var(--white);
      }

      @include mixins.breakpoint(large) {
        max-width: 244px;
      }
      @include mixins.breakpoint(medium) {
        max-width: 100%;
      }
    }
  }
}
